body {
    background-color: white;
    color: black;
    margin: 10px;
}

#canvas {
    position: absolute;
    top: 150px;
    left: 10px;
    width: 1024px;
    height: 512px;
    overflow: hidden;
    background-color: black;
}
