body {
    background-color: white;
    color: black;
    margin: 10px;
}

#canvas {
    position: absolute;
    top: 150px;
    left: 10px;
    width: 3072px;
    height: 2048px;
    background-color: black;
}
